$azul: #2a475e;
$blanco: #fdfdfd;

.sna{
    z-index: 2 !important;
    background-color: $blanco;
    border: 2px solid $azul;
    border: none;
    box-shadow: 24;
    border-radius: 4px;
    height: 40px;
    top: 7px !important;
    left: 50% !important;
    right: auto !important;
    -webkit-transform: translateX(-50%) !important;
    width: 70%;
    @media (max-width:768px) {
        width: 60%;
    }
}

.sel{
    width: 100%;
}